body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.channelButton{
  background-color: #8E05C2;
  width: 100%;
  border: solid 1px black;
  color: white;
}

.channelButton:hover{
  background-color: #3E065F;
}

.channelRow{
  border: 1px solid gray;
  overflow:scroll;
}

.logOut{
  border: none;
  background-color: #700B97;
  color: white;
  height: 25px;
  margin-top: 5px;
}

.logOut:hover{
  background-color: #3E065F;
}

.message{
  display: flex;
  color: white;
  width: auto;
  max-width: 100%;
  justify-content: space-between;
}

.loginField{
  text-align: center;
  margin: 50px 0px
}

.loginHeader{
  color: #700B97;
  text-align: center;
  font-weight: bolder;
  font-size: 100px;
  margin-bottom: 30px;
}

.loginPlacholder{
  margin: auto;
  border: solid 3px #700B97;
  max-width: 1000px;
}

.inputField{
  width: 80%;
  margin-left: 10px;
}

.inputField:hover{
  background-color: rgb(204, 204, 204);
}

.loginRegisterButton{
  background-color: #8E05C2;
  color: white;
  border: none;
  margin: 0px 10px;
  width: 100px;
}

.loginRegisterButton:hover{
  background-color: #3E065F;
}

@keyframes rotate{
  0%{
      transform: rotate(360deg);
  }
  100%{
      transform: rotate(0deg);
  }
}

.dot {
  height: 50px;
  width: 50px;
  background-image: linear-gradient(to bottom, black, #8E05C2);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 3s infinite;
}

.addChannel{
  border:none;
  background: none;
  color: #8E05C2;
  font-size: 30px;
}

.addChannel:hover {
  color: white;
}

.dot-small{
  height: 20px;
  width: 20px;
  background-image: linear-gradient(to bottom, black, #8E05C2);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 3s infinite;
  margin-left: 10px;
}

.mainTitle{
  color: #700B97;
  font-weight: bold;
  font-size: 24px;
}

.messageArea{
  border: 1px solid gray;
  background-image: linear-gradient(to bottom right, black, #3E065F);
}

.submit{
  margin: 10px 0px;
  margin-left: 2px;
  border: solid 1px white;
  background-color: #700B97;
  color: white; 
}

.submit:hover{
  background-color: #3E065F;
}

.field:hover{
  background-color: rgb(204, 204, 204);
}

.messageInput{
  width: 96%;
}

.messageSection{
  margin-top: 20px;
  height: 825px;
  overflow:scroll;
}

.userName{
  color: #700B97;
  margin: 0px 10px ;
}

.edit{
  margin-right: 0px 5px;
}

.editInput{
  margin: 0px 5px ;
}

.editInput:hover{
  background-color: rgb(204, 204, 204);
}

.statusButton{
  background-color: #8E05C2;
  border: solid 1px black;
  color: white;
}

.statsButton:hover{
  background-color: #3E065F;
}
